NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=Realestate_bmi2
DB_USER=realestate_app
DB_PASSWORD=Tekkentag2

JWT_SECRET=YOUR_SECRET
API_PORT=4000
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

WEB_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001

VITE_API_URL=http://localhost:4000

UPLOAD_PATH=uploads

COOKIE_SECURE=false
COOKIE_SAMESITE=lax
COOKIE_DOMAIN=localhost

ADMIN_COOKIE_NAME=bmi_admin_session
MAX_UPLOAD_SIZE=524288000
